/* 
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #000;
}

html::-webkit-scrollbar-thumb {
    background: #9CD02F;
}

body {
    background: #000;
}


.heading {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: .1rem;
    width: 100%;
    background: #aaa;
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    color: #9CD02F;
    background: #000;
    padding: .5rem 1.5rem;
    border: 0.1rem solid #aaa;
    border-radius: .5rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, #9CD02F 93%, transparent 90%);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 10000;
    background: #000;
}

.header .logo {
    font-weight: bolder;
    color: #fff;
    font-size: 3rem;
}

.header .logo span {
    color: #9CD02F;
}

.header a {
    display: inline-block;
    padding: 1.5rem 45rem;
    font-size: 1.7rem;
    color: #fff;
}

.footer {
    margin-top: 10rem;
    padding: 5rem;
}

.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem 0;
}

.footer .box-container .box .links {
    font-size: 1.5rem;
    display: block;
    color: #aaa;
    padding: 1rem 0;
}

.footer .box-container .box .links:hover {
    color: #9CD02F;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
}

.footer .box-container .box p i {
    padding-right: .5rem;
    color: #9CD02F;
}

.footer .box-container .box .share {
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: #fff;
    background: #111;
    border-radius: 50%;
    margin-right: .5rem;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: #9CD02F;
}

.footer .box-container .box form .email {
    margin-bottom: 1rem;
    width: 100%;
    background: #111;
    padding: 1.2rem;
    font-size: 1.5rem;
    color: #fff;
    text-transform: none;
}

.credit {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    color: #fff;
    background: #111;
    line-height: 1.5;
}

.credit span {
    color: #9CD02F;
} */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

.mid-image{
    display: grid;
   margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-top: 5%;

    
}


.head-about{
    color:greenyellow;
    font-size: 40px;

}
.para-about{
    margin-top:8% ;
}

.mid-image-about {
    width: 40%;
    display: flex;
}

/* 2nd mid-section */
.second-mid-head {
    text-align: center;

    color: greenyellow;
    font-size: 60px;
}

.second-mid-images {
    display: grid;
    width: 80%;
    margin: 10px auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    /* border: 1px solid white; */


}

.second-mid-img-section {
    width: 100%;

}

.second-mid-img-section img {
    width: 50%;
}

h3 {
    color: greenyellow;
    font-size: 35px;
}

p {
    color: white;
    font-size: 20px;
    /* font-style: italic; */
}

#about-us {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;


}

/* about us */
.about-image {
    width: 60%;
    margin: 9% auto auto 5%;
}

.our-team-image {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 0;
}

.our-team-image img {
    width: 90%;
}

.book-appointment-button {
    margin: 2%;
    text-align: center;
}

.appointment {
    background-color: olivedrab;
    padding: 15px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid white;
}

.appointment:hover {
    transform: scale(1.2);
    z-index: 1;
    cursor: pointer;
}

/* project */

#projects {
    color: black;
    /* background: #ffffff; */
    margin-top: 3%;
}

.teams h5 {
    font-weight: 700;
    color: #07080B;

    transform: translateY(-65px);
}

.teams h1 {
    color: black;
    text-align: center;
    font-size: 40px;
    transform: translateY(23px);
    /* opacity: 0.1; */
    /* padding-top: -20px; */
    margin-bottom: 6%;
    margin-top: -6%;
}

.teams .carousel .project-card {
    background: olivedrab;
    border-radius: 5px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.teams .carousel .project-card:hover {
    background: rgba(0, 0, 0, 0.149);
}

.teams .carousel .project-card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.teams .carousel .project-card:hover .box {
    transform: scale(1.05);
}

.teams .carousel .project-card #text {
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.teams .carousel .project-card img {
    height: 150px;
    width: 250px;
    object-fit: cover;
    /* border-radius: 10%; */
    border: 5px solid black;
    transition: all 0.3s ease;
}

.teams .carousel .project-card:hover img {
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background: #07080B !important;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #07080B;
    transition: all 0.3s ease;
}



